/*====================
=========CRUD=========
====================*/
.crud{
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}
#json-button{
    margin-bottom: 1.5em;
}
.crud__table, .crud__form{
    min-width: 45%;
    //max-width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.crud__table table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    box-shadow: $shadow-botton;
    border-radius: .5em;
}
  
.crud__table td, .crud__table th {
    border: .1em solid hsla(0, 0%, 0%, 0.102);
    border-radius: .5em;
    color: $black;
    padding: .5em;
}

.crud__form{
    width: 100%;
}

.crud__form {
    display: flex;
    flex-wrap: wrap;
}

.crud__form .crud__form-element{
    width: 100%;
}

.crud__form .crud__form-two-columns{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.crud__form .crud__form-two-columns .crud__form-element{
    width: 48%;
}

.crud__form .crud__form-three-columns{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.crud__form .crud__form-three-columns .crud__form-element{
    width: 32%;
}

.crud__form .crud__form-four-columns{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.crud__form .crud__form-four-columns .crud__form-element{
    width: 45%;
}

.crud__form-element{
    margin-bottom: 1em;
    width: 100%;
}

.crud__form-label{
    margin-bottom: 1em;
    width: 100%;
}

.crud__form-label label{
	font-family: "Ubuntu";
	font-weight: 600;
	font-size: 1em;
	transition: color 0.5s;
}

.crud__form-label--active label{
	color: $red;
}
.crud__form-input{
    width: 100%;
}

.crud__form-input.inline{
    display: flex;
    gap: 2%;
}

.crud__form-input input, 
.crud__form-input textarea,
.crud__form-input select {
    //background-color:$white;
	//border: none;
	//border-bottom: 0.1em solid  hsl(0, 0%, 100%);
	box-sizing: border-box;
    color: $black;
	font-family: "Ubuntu";
	font-weight: 600;
	padding: 0.2em 0.5em;
	width: 100%;
}

.crud__form-input input::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.crud__form-input input[type=checkbox],
.crud__form-input input[type=radio]{
    height: 1.2em;
    width: 1.2em;
}

.crud__form-input input[type=file]{
    border: none;
}

.crud__form-input textarea{
    background-color: hsl(0, 0%, 100%);
    color:hsl(0, 0%, 0%)
}

.crud__form-input.inline label{
    color: hsl(0, 0%, 100%);
	font-family: "Ubuntu";
	font-weight: 600;
    font-size: 1.5em;
    margin: 0 0.5em;
    width: max-content;
}

.crud__form-input input:focus, .crud__form-input textarea:focus{
	outline: none;
}

.crud__form-input select, .crud__form-input select:focus, .crud__form-input select:active { 
	outline: 0 !important; 
}
/*========================
===========BOTON==========
========================*/
.crud__form-button{
    align-items: center;
    background-color: $color-primary-darker;
    border: .1em solid hsl(0, 0%, 7%);
    border-radius: .5em;
    box-sizing: border-box;
    color: rgb(17, 17, 17);
    cursor: pointer;
    display: flex;
    font-family: Inter,sans-serif;
    font-size: 1em;
    height: 3em;
    justify-content: center;
    line-height: 4em;
    max-width: 100%;
    width: 100%;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
.crud__form-button:after {
    background-color: hsl(0, 0%, 7%);
    border-radius: .5em;
    content: "";
    display: block;
    height: 3em;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(.5em, .5em);
    transition: transform .2s ease-out;
    z-index: -1;
  }

  .crud__form-button:hover {
    outline: 0;
  }
.crud__form-button:hover::after{
    background-size: 100% auto;
    transform: translate(0, 0);
}

.crud__form-button:focus {
	outline: 0;
}
.role{
    text-align: center;
    width: 100%;
    margin-bottom: 2em;
    -moz-appearance: none;
    display: inline-block;
	cursor: pointer;
  	padding: .5em .5em;
  	height: 3em;
	color: hsl(0, 0%, 48%);
	font-size: 1em;
	color: hsl(0, 0%, 60%);
	font-family: $font-stack;
	border:2px solid hsla(0, 0%, 0%, 0.2);
    border-radius: .5em;
    transition: all 0.25s ease;
}

.footer-element{
    width: 100%;
}

.footer-element p{
    text-align: center;
}

@media (min-width: 1920px) {

    h1 {
        font-size: 3.5em;
    }
    
    h2 {
        font-size: 3em;
    }

    .logo svg{
        height: 4em;
        width: 4em;
    }

    .crud__form-element{
        margin-bottom: 2em;
    }

    .crud__form-label label{
        font-size: 1.5em;
    }

    .crud__form-input input, 
    .crud__form-input textarea,
    .crud__form-input select {
        font-size: 1.5em;
        padding: 0.3em;
    }

    .crud__form-input select {
        padding: 0.4em;
    }

    .crud__store-button{
        font-size: 1.5em;
    }

    .footer-element p{
        font-size: 1.5em;
    }
}


@media (max-width:1024px) {

    header{
        height: 2vh;
    }

    .main-element{
        margin: 1.5em 0;
    }

    .footer-element{
        margin: 1em 0;
    }

    h1 {
        font-size: 2em;
    }
    
    h2 {
        font-size: 1.5em;
    }

    .logo svg{
        height: 2em;
        width: 2em;
    }

    .title{
        margin-left: 0.5em;
    }

    .crud{
        display: block;
    }

    .crud__table, .crud__form{
        min-width: 100%;
        max-width: 100%;
    }

    .crud__table-grid{
        grid-gap: 0;
    }

    .crud__table-flex{
        gap: 0;
    }

    .crud__store-button{
        font-size: 1em;
        margin-top: 0.5em;
    }
}

@media (max-width:479px) {

    header{
        height: 2vh;
    }

    .main-element{
        margin: 1.5em 0;
    }

    .footer-element{
        margin: 1em 0;
    }

    h1 {
        font-size: 2em;
    }
    
    h2 {
        font-size: 1.5em;
    }

    .logo svg{
        height: 2em;
        width: 2em;
    }

    .title{
        margin-left: 0.5em;
    }

    .crud{
        display: block;
    }

    .crud__table, .crud__form{
        min-width: 100%;
        max-width: 100%;
    }

    .crud__table-grid{
        grid-gap: 0;
    }

    .crud__table-flex{
        gap: 0;
    }

    .crud__store-button{
        font-size: 1em;
        margin-top: 0.5em;
    }
}