/*====================
=======Structure======
======================*/
body{
   background-color:$color-primary;
   display:flex; 
   flex-direction:column;    
   margin: 1em auto;
   min-height: 100vh;
   width: 90%;
}
header{
   display: flex;
   height: 10vh;
   justify-content: start;
}
main{
   margin: 1em 0;
   width: 100%;
}
footer{
   margin-top: auto; 
   width: 100%;
}
.main-element{
   margin-bottom: 2em;
}
.footer-element{
   margin-bottom: 1em;
}
/*====================
========Logo=========
======================*/
.logo{
   width: max-content;
}
.logo svg{
   height: 3em;
   width: 3em;
}
.logo svg path{
   fill:$color-primary-darkest;
}