.container{
    //background-color: $color-analogous-second;
    //max-width: 120em;
    width: 50%;
    box-sizing: content-box;
}
.container .ul-form{
    width: 100%;
    display: flex;
    flex-flow:row nowrap;
    justify-content: flex-start;
    align-items: center;
}
.container-flex{
    display: flex;
}
.container .tabs-form{
    cursor: pointer;
    color:$color-secondary-darker;
    padding: 1em;
    transition: all .5s ease;
}
.container .tabs-form.tabs-active{
    //background-color: #e9f6a6;
    color:$color-secondary-darkest;
    box-shadow: $shadow-top;
}
.container .subcontainer{
    margin: -1em;
    padding: 3em;
    box-shadow: $shadow-botton;
    border-radius: .5em;
    //background-color: #e9f6a6;
}
//.subcontainer #tabs-elements{
   // display: none;
    //ºtransition: all .5s ease;
//}
//º.subcontainer #tabs-elements.tabs-active{
   //ºdisplay: unset;
//}