.container{
    background-color: $color-analogous-second;
    //max-width: 120em;
    width: 50%;
    padding: 1em;
    box-sizing: content-box;
}

.container .ul-form{
    width: 100%;
    display: flex;
    flex-flow:row nowrap;
    justify-content: flex-start;
    align-items: center;
}
.container-flex{
    display: flex;
}
.container .tabs-form{
    cursor: pointer;
    color:$color-secondary-darker;
    padding: 1em;
    transition: all .5s ease;
}
.container .tabs-form.tabs-active{
    background-color: #e9f6a6;
    color:$color-secondary-darkest;
    box-shadow: $shadow-top;
}
.container .subcontainer{
    margin: -1em;
    padding: 3em;
    box-shadow: $shadow-botton;
    background-color: #e9f6a6;
}
.subcontainer #tabs-elements{
    display: none;
    transition: all .5s ease;
}
.subcontainer #tabs-elements.tabs-active{
   display: unset;
}